@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color:white;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.first-section {
  height: 100vh;
}
.fst-sec {
  padding-left: 8%;
  padding-top: 15%;
}
.name {
  color: #03bead;
}
.first-btn {
  width: 160px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #03bead;
  color: #03bead;
  background-color: white;
  box-shadow: inset 0 0 0 0 #03bead;
  transition: ease-in 0.3s;
  outline: none;
}
.first-btn:hover {
  box-shadow: inset 160px 0 0 0 #03bead;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.first-heading {
  font-size: 56px;
  margin: 10px 0;
  color: rgb(16, 16, 16);
}
.img-dev {
  width: 400px;
  border: 0 solid white;
}
.about {
  background-color: rgb(3, 190, 173);
  padding: 2% 50px 10%;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  text-align: center;
}
.about-heading {
  color: aliceblue;
  font-size: 40px;
  margin-bottom: 60px;
}
.about-para {
  color: aliceblue;
  text-align: left;
  font-weight: 400;
  margin-top: 10%;
  line-height: 1.5;
}
.about-img {
  height: 300px;
  width: 300px;
}

.container-flex {
  display: flex;
  margin: 0 7%;
}
.flex-item-para {
  text-align: left;
  margin-left: 13%;
}
.resume-btn {
  height: 30px;
  width: 120px;
  background-color: rgb(3, 190, 173);
  color: white;
  border: 2px solid white;
  font-weight: 400;
  margin-top: 10px;
  box-shadow: inset 0 0 0 0 white;
  transition: ease-in-out 0.3s;
  outline: none;
}
.resume-btn:hover {
  box-shadow: inset 120px 0 0 0 white;
  color: #03bead;
  cursor: pointer;
  border-radius: 4px;
}
.projects {
  padding: 0 10%;
  text-align: center;
}
.project-main-head {
  margin-bottom: 5%;
  font-size: 40px;
}
.project-img {
  width: 600px;
  height: 350px;
  margin-left: 3rem;
}
.project {
  display: flex;
  margin-top: 5rem;
}
.source-btn {
  height: 30px;
  width: 120px;
  border: 2px solid rgb(3, 190, 173) ;
  background-color: white;
  color: rgb(3, 190, 173);
  font-weight: 400;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: inset 0 0 0 0 white;
  transition: ease-in-out 0.3s;
}
.source-btn:hover{
  box-shadow: inset 120px 0 0 0 rgb(3, 190, 173);
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
.view-project{
  height: 30px;
  width: 120px;
  background-color: rgb(3, 190, 173);
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  margin-top: 10px;
  cursor: pointer;
}
.project-para{
  text-align: justify;
}

.prjct-dis {
  text-align: left;
}
.project-img-alt{
   width: 600px;
  height: 350px;
  margin-left: 3rem;
  display: none;
}
.action-section {
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  background-color: #03bead;
  text-align: center;
  color: white;
  padding-bottom: 2rem;
}

.action-heading {
  padding: 15% 0 2rem;
  font-size: 40px;
}
.action-btn {
  font-size: 20px;
  font-weight: 700;
  width: 180px;
  height: 50px;
  border: 2px solid white;
  background-color: #03bead;
  color: white;
  box-shadow: inset 0 0 0 0 white;
  transition: ease-in-out 0.3s;
  outline: none;
}
.action-btn:hover {
  box-shadow: inset 180px 0 0 0 white;
  color: #03bead;
  cursor: pointer;
  border-radius: 5px;
}
.footer {
  background-color: #333;
  text-align: center;
  min-height: 25vh;
  padding: auto;
}
.ftr-heading {
  color: white;
  font-weight: 700;
  margin: 0;
  padding: 10% 0 20px 0;
  font-size: 25px;
}
.icons {
  padding: 0 0 50px 0;
  color: white;
}
.icon {
  margin: 2rem;
}
.copyright {
  font-weight: 400;
  font-size: 10px;
  color: white;
  padding: 10px;
  margin: 0;
}
.icon:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (max-width: 1164px) {
.projects{
  padding: 0 5%;
}
.about-img{
  height: 250px;
  width: 250px;
}
.project-img{
  display: none;
}
.prjct-dis{
  margin-right: 20px;
}
.project-img-alt{
  display: block;
   width: 400px;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}
.projects{
  overflow-x: hidden;
}
}
@media only screen and (max-width: 921px)  {
.fst-sec {
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-heading{
  font-size: 45px;
  
}
.first-btn{
  width: 140px;
  height: 45px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  pointer-events: none;
}
/* .about{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
} */
.about-img{
  width: 230px;
  height: 230px;
}
.resume-btn{
  pointer-events: none;
}
.about-para{
  margin-top: 5%;
}
.project-main-head{
  margin-top: 10%;
}
.projects{
  padding: 0 8%;
}
.project{
  display: block;
}
.prjct-dis{
  text-align: center;
  margin-bottom: 2rem;
}
.project-img{
  margin: 0;
}
.project-img{
  display: none;
}
.project-img-alt{
  width: 80%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.action-btn{
  pointer-events: none;
}
}
@media only screen and (max-width: 767px)  {
.fst-sec {
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-heading{
  font-size: 37px;
}
.heading{
  margin:0 8%;
}
.first-btn{
  width: 130px;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  pointer-events: none;
}
.about-img{
  width: 150px;
  height: 150px;
}
.about{
  padding-right: 2%;
  padding-left: 2%;
}
.resume-btn{
  pointer-events: none;
  margin-bottom: 2rem;
}
.about-para{
  margin-top: 0;
  font-size: 13px;
}
.container-grid{
  
  margin-left: 7%;
}
.resume-btn{
  margin: 1rem 0 12px 0 ;
}
.grid-item-para{
  margin-left:1rem ;
}
.project-main-head{
  font-size: 34px;
}
.projects{
  padding: 0 8%;
}

.prjct-dis{
  margin-bottom: 2rem;
}
.project-img{
  margin: 0;
}
.project-img{
  display: none;
}
.project-img-alt{
  width: 80%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.action-heading{
  font-size: 32px;
}
.action-section{
  padding-top: 3%;
  margin-top: 3%;
}
}
@media screen and (max-width:564px) {
.fst-sec{
  display: block;
}

  .first-heading{
  font-size: 37px;
  margin:0;
  padding-top: 30%;
}
.first-btn{
  font-size: 13px;
  width: 120px;
  height: 35px;
}
.about-heading{
  font-size: 25px;
  margin-bottom: 7%;
}
.about-img{
  width: 100px;
  height: 100px;
  margin-right: 5px;
}
.about-para{
  font-size: 9px;
  line-height: 1.5;
  margin:0 0 5px 0;

}
.grid-item-para{
  margin: 0 1rem 0 0;
}
.resume-btn{
 height: 20px;
 width: 70px;
 font-size: 8px;
 margin: 3% 0 12px 0 ;
 border: 1px solid white;
}
.project-main-head{
  font-size: 25px;
}
.project-heading{
  font-size: 20px;
}
.project-para{
  font-size: 11px;
  text-align: justify;
}
.prjct-dis{
  margin-right: 0;
}
.prjct-btn{
  margin: 5px 2px;

  font-size: 8px;
}
.action-heading{
  font-size: 28px;
}
}